body {
 background-color: rgb(90, 90, 249);
}
.cabeçalho {
background-color: rgb(15, 8, 107);
color: aliceblue;
font-size: 15px;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
 margin-bottom: 0px;

}

.cabeçalho-título {
font-size: 54px;

}


